.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */
}

.m-clndr {
    overflow: hidden;

    .clndr-controls {
        display: table;
        width: 100%;
        line-height: 37px;
    }
    
    .clndr-previous-button,
    .clndr-next-button {
        width: 15%;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        /* Chrome/Safari */

        -moz-user-select: none;
        /* Firefox */

        -ms-user-select: none;
        /* IE10+ */

        float: left;
    }

    .month {
        width: 70%;
        display: inline-block;
        float: left;
    }

    .clndr-grid {
        position: relative;
        width: 100%;
        height: 259px;
        display: inline-block;
    }

    .header-day {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 14.285714286%;
        display: inline-block;
        text-align: center;
    }

    .days {
        position: absolute;
        left: 0;
        width: 100%;
        height: 259px;
    }

    .day {
        width: 14.285714286%;
        display: inline-block;
        padding-top: 8px;
        padding-bottom: 8px;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &.past {}
    }

    .calendar-dow-6 {
        border-right: none;
    }

    .events {
        position: absolute;
        left: 100%;
        width: 100%;
        height: 237px;

        .headers {
            position: relative;
        }

        .event-header {
            width: 100%;
            line-height: 37px;
        }

        .x-button {
            @include box-sizing(border-box);
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            width: 15%;
            cursor: pointer;
            line-height: 37px;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            &:hover {

            }
        }

        .events-list {
            overflow: scroll;
            height: 155px;
        }

        .event {
            border-bottom: 1px solid transparent;

            &:hover {}

            a {
                position: relative;
                display: block;
                padding: 8px 10px;

                &:hover {}
            }
        }
    }

    .clndr-grid {
        &.show-events {
            .days {
                left: -294px;
            }
            .events {
                left: 0;
            }
        }
    }
}

.m-clndr.t-clean {

    .clndr-previous-button,
    .clndr-next-button {
        text-align: center;

        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -ms-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }

    .month {
        text-align: center;
        text-transform: uppercase;
    }

    .header-day {
        font-weight: bold;
    }

    .days {
        -webkit-transition: left 0.5s;
        -moz-transition: left 0.5s;
        -ms-transition: left 0.5s;
        -o-transition: left 0.5s;
        transition: left 0.5s;
    }

    .day {
        text-align: center;

        &.event {
            -webkit-transition: background-color 0.5s;
            -moz-transition: background-color 0.5s;
            -ms-transition: background-color 0.5s;
            -o-transition: background-color 0.5s;
            transition: background-color 0.5s;
            cursor: pointer;
        }
    }

    .events {
        -webkit-transition: left 0.5s;
        -moz-transition: left 0.5s;
        -ms-transition: left 0.5s;
        -o-transition: left 0.5s;
        transition: left 0.5s;

        .headers {}

        .event-header {
            text-align: center;
        }

        .x-button {
            -webkit-transition: color 0.25s;
            -moz-transition: color 0.25s;
            -ms-transition: color 0.25s;
            -o-transition: color 0.25s;
            transition: color 0.25s;
            text-align: center;
        }

        .events-list {}

        .content {
            width: 100%;
            height: 190px;
            overflow-y: scroll;
        }

        .event {
            -webkit-transition: background-color 0.25s;
            -moz-transition: background-color 0.25s;
            -ms-transition: background-color 0.25s;
            -o-transition: background-color 0.25s;
            transition: background-color 0.25s;

            a {
                text-decoration: none;
                -webkit-transition: color 0.25s;
                -moz-transition: color 0.25s;
                -ms-transition: color 0.25s;
                -o-transition: color 0.25s;
                transition: color 0.25s;
            }
        }
    }
}