$design-header-background-color: #ffffff;
$design-navigation-background-color: #ffffff;
$design-navigation-font-color: #464745;
$design-body-background-color: #ffffff;
$design-wrapper-background-color: #ffffff;
$design-footer-background-color: #ffffff;
$design-box-background-color: #f5f5f5;
$design-border-color: #e6e6e6;
$font-color-primary: #777777;
$font-color-headline: #555657;
$font-color-link: #5488aa;
$button-primary-background-color: #5488aa;
$button-primary-font-color: #ffffff;
$button-default-background-color: #f5f5f5;
$button-default-font-color: #6b6c6a;
$panel-callout-color: #dff1d9;
$panel-warning-color: #caeef7;
$panel-danger-color: #ebccd1;
$module-rating-color: #ffcc00;
$logo-source: #ffcc00;
$logo-source-negative: #ffcc00;
$logo-color: #6b4648;
$font-family-base: "Helvetica", "Arial", sans-serif;
$font-family-headline: "Oswald", sans-serif;
$image-background: "";
