@mixin cart-nav-toggle($color: #000, $font: #fff) {
    color: $font;
    background-color: dolp($color, 10%);

    &:hover,
    &:focus {
        background-color: dolp($color, 20%);
        color: $font;
    }
}

.m-quick-cart-price {
	font-family: $font-family-headline;
}



.skip-links .nav-toggle-cart.cart--active {
	@include cart-nav-toggle($color-button-primary, $color-button-primary-font);
}