// ==========================================================================
// Site
// ==========================================================================

.site-header {
  padding: 1.5em 0;
}

	.logo {

    a {
      display: block;
    }

		img {
			margin: 0;
      display: block;
		}
	}

.site-corporate {
  padding: .5em 0;
}

.site-navigation {
  padding: 1em 0;

  .m-quick-cart > .dropdown > a,
  .item-primary {
    font-size: 16px;
  }
}

.site-slider {}

.site-content {
  position: relative;

  > .container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

.site-footer {
  padding: 3em 0;
}

.column .column-module-text img {
  max-width: 100%;
  height: auto;
  display: block;
}

.site-main-content {
  padding-bottom: 2em;
}

.page-title {
  margin: 0 0 .95em;
  padding: 0 0 1em;
  border-bottom: 1px solid transparent;

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      &:first-child {
        margin-bottom: 0;
      }
    }
}

.page-title-frontpage {
  margin: 0 0 .95em;
  padding: 1em 0;
  text-align: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.text-body {
  margin-bottom: 1em;
}

.dropdown-container .media-item,
.quick-cart-expanded-total {
  font-size: .95em;
}

img.responsive {
  width: auto !important;
  height: auto !important;
}
