
// ==========================================================================
// Module: Calendar theme clean
// ==========================================================================

.m-clndr.t-clean {
    .clndr-controls {
        background-color: darken($design-box-background-color, 10%);
    }

    .clndr-previous-button,
    .clndr-next-button {

        &:hover {
            background-color: darken(darken($design-box-background-color, 10%), 5%);
        }
    }

    .days-of-the-week {
        border-bottom: 1px solid $design-border-color;
    }

    .day {
        border-color: $design-border-color;

        &.today {
            background-color: $panel-callout-color;
            color: dolp($panel-callout-color, 15%);
        }

        &.weekend {
            background-color: darken($design-box-background-color, 10%);
        }

        &.adjacent-month {
            color: dolp($font-color-primary, 15%);
        }

        &.event {
            background-color: $panel-warning-color;
            color: dolp($panel-warning-color, 15%);

            &:hover {
                background-color: darkenOrLighten($panel-warning-color);
            }
        }
    }

    .events {

        .event-header {
            background-color: darken($design-box-background-color, 10%);
        }

        .x-button {

            &:hover {
                background-color: darken(darken($design-box-background-color, 10%), 10%);
            }
        }

        .event {
            border-color: transparent;

            &:hover {
                background-color: darken(darken($design-box-background-color, 10%), 10%);
            }

            a {
                background-color: transparent;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}
