/*
# Description

## Date last modified
2015-01-05

*/

.m-checkout {

	.step2, .step3, .step4 {

		label {
			font-weight: normal;
		}
	}

	.step2 {

		.deliveryMethodName {
			font-weight: 700;
		}
	}

	.step3 {

		.packingTypeTitle {
			font-weight: 700;
		}
	}

	.step4 {

		.paymentMethodTitle {
			font-weight: 700;
		}

		.paymentMethodDescription {
		}

		.showOnClick {
			cursor: default;
		}
	}

	.step5 {

		.orderLine {

			&.l-orderline-hidden-info {
				padding: 0.5em;
			}
		}
	}
}