.date-datepicker-button {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
    width: 100% !important;
}

.ui-widget-header .ui-icon,
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("../images/ui-icons_222222_256x240.png");
}

.ui-state-focus,
.ui-state-hover,
.ui-widget-content,
.ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-focus,
.ui-widget-header .ui-state-hover {
    border: 1px solid transparent;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    cursor: pointer;
    float: left;
    display: block;

    span {
        display: block;
    }
}

.ui-datepicker .ui-datepicker-next {
    float: right;
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
    top: 2px;
}

.ui-datepicker .ui-datepicker-prev:hover {
    left: 2px;
}


.ui-datepicker .ui-datepicker-next:hover {
    right: 2px;
}

.ui-widget {
	font-size: 1em;
}


.ui-widget-header {
	border: 0px none;
	background: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
    font-weight: 400;
    display: table;
    width: 100%;
}

.ui-datepicker {
    padding: 0;
    width: 17em;

    table {
        margin: 0;
        font-size: 1em;
    }

    td {
        padding: 0;

        a,
        span {
            text-align: center;
            padding: 7px 0;
        }
    }

    .ui-datepicker-buttonpane {
        margin: 0;
        border: 0;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        background: transparent;
    }
}

.ui-datepicker-title {
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.ui-datepicker-calendar {
    border-collapse:separate;
    border-spacing:0px 0px;
    width:100%;

    thead {
        border-bottom: 1px solid transparent;

        span {
            display: block;
        }
    }

    td {
        border-right: 1px solid;
        border-bottom: 1px solid;
    }
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: transparent;
    border: none;
    font-weight: normal;
    display: block;

    &:hover {
    }
}