// ==========================================================================
// CSS3 mixins
// ==========================================================================

// Mixin: Border-radius. Emmulates Compass-style.org border-radius mixin.
@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Mixin: Box-shadow. Emmulates Compass-style.org box-shadow mixin.
@mixin box-shadow($left: 0px, $top: 0px, $blur: 5px, $color: #333333, $inset:"") {
    -webkit-box-shadow: $left $top $blur $color #{$inset};
       -moz-box-shadow: $left $top $blur $color #{$inset};
            box-shadow: $left $top $blur $color #{$inset};
}
