
// ==========================================================================
// jQuery.ui.datepicker
// ==========================================================================

.date-datepicker-button {
    background: none !important;
    border: none !important;
    color: $font-color-primary;
}

button.date-datepicker-button:after {
    border: none !important;
    background: none !important;
}

.ui-state-focus,
.ui-state-hover,
.ui-widget-content,
.ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-focus,
.ui-widget-header .ui-state-hover {
    background: darken($design-box-background-color, 15%);
}

/* Corner radius */
.ui-corner-all {
    border-color: $design-border-color;
    background: $design-box-background-color;
}

.ui-widget {
    font-family: $font-family-base;
}

.ui-widget-header {
    background: transparent;
    color: $font-color-primary;
    background-color: darken($design-box-background-color, 10%);
}

.ui-datepicker {
    .ui-datepicker-prev,
    .ui-datepicker-next {
        color: $font-color-primary;
    }
}


.ui-datepicker-calendar {
    thead {
        border-color: $design-border-color;
    }

    td {
        border-color: $design-border-color;
    }
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    color: $font-color-primary;

    &:hover {
        background: darken($design-box-background-color, 10%);
    }
}
